## Script para extrair nome do médico e duração do procedimento de arquivo pdf

In [1]:
#Caso não possua o PyPDF2 instalado, descomentar linha abaixo
#!pip install PyPDF2

In [2]:
import PyPDF2

In [3]:
f = open('Pasta1.pdf', 'rb')
pdf = PyPDF2.PdfFileReader(f)

In [4]:
#Verificando a quantidade de paginas do documento
pdf.getNumPages()

9

In [5]:
#Verificando o conteudo de cada pagina
pdf.getPage(0).extractText()

'Pág.: 1 / 10\nData\n09/04/2018\nAcomodação\nEnfermaria\nNº\nCód Usuário\nPROCEDIMENTO(S) REALIZADO(S)\nCÓD PROCEDIMENTO\nQTD\nVALOR\nPROCEDIMENTO 01\n1111111111\n1\n0,00\nPROCEDIMENTO 02\n1111111112\n1\n0,00\nInício\nTérmino\nDuração\n13:00:00\n14:50:00\n01:50:00\nConvênio\nXXXXXXXXXXXXXXXXXXXXXX\nHospital\nYYYYYYYYYYYYYYYYYYY\nMédico\nFULANO 1\nNome Paciente\nPACIENTE 1\n'

In [6]:
#Realizando alguns procedimentos com split para podermos retirar o nome do profissional e a duração total dos procedimentos
spg0 = pdf.getPage(1).extractText()
pg0 = spg0.split('Médico\n')
x = pg0[1:2]
y = str(x)
a = y.split('\\n')
w = str(a[0])
r = w.split("['")
print(r[1])

pg1 = spg0.split('Duração\n')
x1 = pg1[1:2]
y1 = str(x1)
y1
a1 = y1.split('\\n')
print(a1[2])

FULANO 2
01:00:00

In [7]:
qtd_paginas = pdf.getNumPages()

In [8]:
nome1 = []
duracao1 = []
tabela = [nome1,duracao1]
for i in range(0,qtd_paginas):
    spg0 = pdf.getPage(i).extractText()
       
    pg0 = spg0.split('Médico\n')
    x = pg0[1:2]
    y = str(x)
    a = y.split('\\n')
    w = str(a[0])
    r = w.split("['")
    
    pg1 = spg0.split('Duração\n')
    x1 = pg1[1:2]
    y1 = str(x1)
    y1
    a1 = y1.split('\\n')
    
    nome1.append(r[1])
    duracao1.append(a1[2])

In [9]:
print(tabela)

[['FULANO 1', 'FULANO 2', 'FULANO 3', 'FULANO 1', 'FULANO 1', 'FULANO 3', 'FULANO 2', 'FULANO 2', 'FULANO 3'], ['01:50:00', '01:00:00', '00:20:00', '00:20:00', '00:50:00', '02:00:00', '01:45:00', '04:30:00', '04:55:00']]

In [10]:
import pandas as pd

In [11]:
Dados = pd.DataFrame(tabela)

In [12]:
Dados

,0,1,2,3,4,5,6,7,8
0,FULANO 1,FULANO 2,FULANO 3,FULANO 1,FULANO 1,FULANO 3,FULANO 2,FULANO 2,FULANO 3
1,01:50:00,01:00:00,00:20:00,00:20:00,00:50:00,02:00:00,01:45:00,04:30:00,04:55:00

In [13]:
import numpy as np

In [14]:
Relatorio = np.transpose(Dados)
Relatorio

          0         1
0  FULANO 1  01:50:00
1  FULANO 2  01:00:00
2  FULANO 3  00:20:00
3  FULANO 1  00:20:00
4  FULANO 1  00:50:00
5  FULANO 3  02:00:00
6  FULANO 2  01:45:00
7  FULANO 2  04:30:00
8  FULANO 3  04:55:00

In [15]:
Relatorio.to_csv('Relatorio', sep='\t', encoding='utf-8')